.title {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin: 6px 6px 6px 6px;
    background: rgb(231, 190, 114);
}


.lasagna {
    background-color: yellow;
    color: red;
}

.friedrice {
    background-color: orange;
    color: red;
}

.muffins {
    background-color: rgb(223, 173, 37);
    color: rgb(41, 17, 126);
}

.proportioned {
    height: 300px;
    width: auto;
}

.body {
    background-color: rgb(54, 39, 22);
}

.recipes {
    background-color: rgb(54, 39, 22);
}

.top-title {
    margin-top: 8px;
}

.bottom-title {
    margin-bottom: 8px;
}